* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.content {
  max-width: 1240px;
  margin: auto;
  padding: 0 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.4s ease;
  /* background: rgba(1, 1, 1, 0.8); */
}

.navbar.sticky {
  padding: 10px 0;
  background: rgba(1, 1, 1, 0.9);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list {
  display: flex;
}

.logotype {
  width: 80%;
}

.navbar .logo a {
  font-size: 30px;
  font-weight: 600;
}

.menu-list li a,
.navbar .logo a {
  color: #fff;
}

.navbar .content .menu-list li a {
  position: relative;
  transition: 0.5s ease;
}

/* hovering menu items */
.navbar .content .menu-list li a::before {
  content: "";
  position: absolute;
  color: var(--Secondary, #F9995D) height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}

.navbar .content .menu-list li a:hover {
  color: var(--Secondary, #F9995D)
}

.navbar .content .menu-list li a:hover:before {
  width: 100%;
}

.menu-list li a {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url(img/DreamShaper_v7_renewable_energy_industry_making_big_money_0-1.jpg  ) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about {
  padding: 40px 0;
}

.content {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.content p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
  text-align: justify;
  letter-spacing: 0;
}

/* cancel and menu btn */
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

/* media queries */
@media (max-width: 886px) {
  body .disabledScroll {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: rgba(1, 1, 1, 0.5);
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: 0.5s ease;
  }

  .navbar .menu-list.active {
    left: 0;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
  }
}



.our-reputation {
  color: var(--Neutral-800, #292E3D);
  text-align: center;
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media (max-width:600px) {
  .shadow-box-all {
    flex-direction: column;

  }

}

@media (max-width:1000px) {
  .shadow-box-all {
    flex-direction: column;

  }

}


.shadow-box-all {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;

}






.shadow-box-1,
.shadow-box-2,
.shadow-box-3 {
  display: flex;
  width: 292px;
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  border-radius: 4px;
  border: 1.4px solid var(--Neutral-100, #E0E3EB);
  background: #FFF;
  margin-right: 50px;
}

@media (max-width: 600px) {

  .shadow-box-1,
  .shadow-box-2,
  .shadow-box-3 {
    margin-bottom: 40px;
    margin-right: 80px;
  }
}

@media (max-width:1100px) {

  .shadow-box-1,
  .shadow-box-2,
  .shadow-box-3 {
    margin-bottom: 40px;
    margin-right: 80px;
  }
}





.text-h1 {
  color: var(--Neutral-700, #3D445C);
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icon-shadow {
  width: 40px;
  height: 40px;
}

.under-text {
  color: var(--Neutral-400, #858EAD);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 254px;
}

.under-shadow {
  margin-top: 158px;
  margin-left: 158px;
  margin-bottom: 1000px;
}




.person-photo {
  position: absolute;
  width: 902px;
  height: 669px;
  flex-shrink: 0;
  border-radius: 2px;
  background: url(<path-to-image>) lightgray -159.882px -67.003px / 127.181% 114.349% no-repeat;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.10), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
}







@media (max-width: 600px) {
  .person-photo {
    width: 302px;
    height: 200px;
    margin-left: -80px;

  }
}


.text-box {
  border-radius: 2px;
  background: var(--Primary, #2947A9);
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.10), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  width: 488px;
  height: 523px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 600px;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .text-box {
    margin-left: -158px;
    margin-top: 300px;
    width: 430px;
    height: 433px;
  }
}



.text-in-box {
  margin-left: 40px;
  margin-top: 40px;
}

.text-box-h1 {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.text-box-h2 {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 388px;
}

.btn {
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 2px solid var(--Primary, #2947A9);
  background: var(--Neutral-White, #FFF);
  margin-top: 40px;
}

.btn-text {
  color: var(--Primary, #2947A9);
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

}

.btn:hover {
  background-color: #F9995D;
  transition: 0.5s;
}

.services-h1 {
  color: var(--Neutral-800, #292E3D);
  text-align: center;
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 110px;
}


.services {
  background: var(--Neutral-50, #F6F8F7);

}


.services-box-all {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 250px;
}








@media (max-width:600px) {
  .services-box-all {
    flex-direction: column;
    margin-right: 180px;
    margin-top: 40px;

  }

}


@media (max-width:600px) {
  .services-box-all {
    flex-direction: column;
    margin-right: 180px;
    margin-top: 40px;

  }

}


.services-box-1,
.services-box-3 {
  display: flex;
  width: 271px;
  height: 181px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: var(--Primary, #2947A9);
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  margin-right: 60px;
}

.services-box-2 {
  display: flex;
  width: 271px;
  height: 181px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
  margin-right: 60px;
}



@media (max-width:600px) {

  .services-box-1,
  .services-box-2,
  .services-box-3 {
    margin-bottom: 40px;
  }

}

@media (max-width:600px) {

  .services-box-1,
  .services-box-2,
  .services-box-3 {
    margin-bottom: 40px;
  }

}


.services-h2 {
  color: var(--Primary, #2947A9);
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.services-h3 {
  color: var(--Neutral-White, #FFF);
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.all-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}


.work-boxes {
  margin-top: 150px;
  margin-left: 250px;
}

@media (max-width:600px) {
  .work-boxes {
    margin-left: 40px;
  }
}



.work-box {
  display: flex;
  width: 361px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  border-radius: 4px;
  border: 1px solid var(--Neutral-White, #FFF);
  background: #FFF;

  /* Shadow 2 */
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.10), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
}



.h1-box-text {
  color: var(--Neutral-800, #292E3D);
  text-align: center;
  font-family: "Work Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 115px;
  height: 65px;
  flex-direction: column;
  justify-content: flex-end;
}

.h2-box-text {
  color: var(--Neutral-500, #667299);
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 238px;
  flex-shrink: 0;
  margin-left: 15px;
}


.poloska-up {
  display: flex;
  position: absolute;
}


.work-box-2 {
  display: flex;
  width: 361px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  border-radius: 4px;
  border: 1px solid var(--Neutral-White, #FFF);
  background: #FFF;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.10), 0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  margin-top: 50px;
}

.img-work {
  position: absolute;
  width: 79px;
  height: 79px;
  flex-shrink: 0;
  margin-top: -190px;
  margin-left: -50px;
}

.img-work-2 {
  position: absolute;
  width: 79px;
  height: 79px;
  flex-shrink: 0;
  margin-top: 150px;
  margin-left: 260px;
}

.work-text-right {
  float: right;
}

@media (max-width:600px) {
  .work-text-right {
    margin-right: -0px;
    margin-bottom: 100px;
  }
}



.work-text-h1 {
  color: var(--Primary, #2947A9);
  width: 359px;
  font-family: "Work Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 250px;
}

@media (max-width:600px) {
  .work-text-h1 {
    width: 100px;
  }
}

.work-text-h2 {
  width: 330px;
  height: 74px;
  flex-shrink: 0;
  color: var(--Neutral-600, #525B7A);
  margin-top: 30px;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.btn-work {
  display: flex;
  width: 176px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--Primary, #2947A9);
}

.btn-work:hover {
  background-color: #F9995D;
  transition: 0.5s;
}



.btn-work-text {
  color: var(--Neutral-White, #FFF);
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.expirience-h1 {
  color: var(--Neutral-800, #292E3D);
  text-align: center;
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 110px;
  margin-bottom: 100px;
}



.consultation {
  padding-top: 150px;
  padding-bottom: 100px;

}

.consultaion-png {
  width: 1470px;
  height: 300px;
  flex-shrink: 0;
}

@media (max-width:600px) {
  .consultaion-png {
    width: 430px;
    height: 100px;
  }
}





.h1-consultation {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h2-consultation {
  color: #FFF;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;

}

.number {
  color: var(--Neutral-White, #FFF);
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media (max-width:600px) {

  .h1-consultation,
  .h2-consultation,
  .number {
    font-size: 14px;
    margin-top: -70px;
    margin-left: -50px;
  }

  .h2-consultation {
    margin-top: 10px;
    font-size: 14px;
  }

  .number {
    margin-left: 0px;
  }
}

.all-text-cons {
  position: absolute;
  margin-left: 115px;
  margin-top: 100px;
}

.consultaion-btn {
  float: right;
  margin-right: -400px;
  margin-top: 30px;
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  border: 2px solid var(--Neutral-White, #FFF);
}

.consultaion-btn-txt {
  color: var(--Neutral-White, #FFF);
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width:600px) {

  .consultaion-btn-txt,
  .consultaion-btn {
    float: left;
  }

  .consultaion-btn-txt {
    color: var(--Neutral-White, #F9995D);
  }

  .consultaion-btn {
    border: 2px solid var(--Neutral-White, #F9995D);
  }

  .for-mobile {
    margin-left: -15px;
  }
}





.consultaion-btn:hover {
  border: 2px solid var(--Neutral-White, #F9995D);
  transition: 0.5s;
}

.consultaion-btn-txt:hover {
  color: var(--Neutral-White, #F9995D);
  transition: 0.5s;
}



.slider {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-slider {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card-slider {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28, -0.03, 0, .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card-slider>.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card-slider>.row>.icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-slider>.row>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.text-slider {
  color: #fff;
  padding-top: 5px;
}

.text-slider-2 {
  color: #000000;
  padding-top: 5px;
}

.text-slider-4 {
  color: #000000;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked+label {
  width: 600px;
}

@media (max-width:600px) {
  input:checked+label {
    width: 300px;
  }
}

input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card-slider[for="c2"] {
  background-image: url('/img/budivla-1.jpeg');
}

.card-slider[for="c3"] {
  background-image: url('/img/budivla-2.jpg');
}

.card-slider[for="c1"] {
  background-image: url('/img/budivla-3.jpg');
}

.card-slider[for="c4"] {
  background-image: url('/img/budivla-4.jpeg');
}

.slider-2 {
  margin-top: 100px;
  margin-bottom: 300px;
}

.wrapper {
  background-color: var(--Neutral-50, #F6F8F7);
  height: 240px;
}

.wrapper-text {
  text-align: center;
}

.addres-a,
.phone-a,
.gmail-a,
.social-a {
  color: var(--Primary, #2947A9);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: normal;
  font-variant: all-small-caps;
}

.wrapper-addres,
.wrapper-phone,
.wrapper-gmail {
  color: var(--Neutral-800, #292E3D);
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 5px;

}

.wrapper-gmail:hover {
  color: var(--Primary, #2947A9);
  transition: 0.5s;
}

.logo-wrapper {
  margin-top: 5px;
}

.all-svg {
  margin-right: 15px;
  margin-left: 15px;
}

.all-svg:hover {
  color: #FFF;

}